<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<meta charset="UTF-8" />
	<style type="text/css">
		span {
			border: solid 1px black;
		}
	</style>
</head>
<body th:object="${item}">
	<label>ID<span th:text="*{id}"></span></label><br>
	<label>グループID<span th:text="*{groupId}"></span></label><br>
	<label>name<span th:text="*{name}"></span></label><br>
	<hr>
	<a th:href="@{/item/{groupId}/{itemId}/edit(groupId=*{groupId},itemId=*{id})}">編集</a><br>
	<a th:href="@{/group/{groupId}(groupId=*{groupId})}">グループに戻る</a>
</body>
</html>